/* Body */
body {
    background-color:0000ff;

    font-family: Roboto, sans-serif;
}

/* header шапка сайта */

.page-header {

}

.contacts-header {

}

.contacts-item {

}


/* nav навигация сайта & logo логотип */

.logo {

}
.site-nav {

}

.nav-list {

}

.nav-item {

}

/* Main */
/* Hero */
.hero {

}

.hero-text {

}

/* Наши преимущества advantage */

/* advantage */
.advantage {

}

.advantage-list {

}

.advantage-title {

}

.advantage-text {

}

/* Чем мы занимаемся benefits */
.benefits {

}

.benefits-text {

}

.benefits-list {

}

.benefits-item {

}

/* Наша команда team */

.team {

}

.team-text {

}

.team-list {

}

.team-photo {

}

.team-items {

}

.team-name {

}

.team-post {

}

/* Футер */

.footer {

}

.footer-list {

}

.footer-item {

}
